<tr>
  <td>
    {{model.name}}
  </td>
  <td>
    {{model.type}}
  </td>
  <td>
    <a href="#cheese/{{model.id}}" class="btn btn-success" data-id="{{model.id}}">View <i class="fa fa-edit"></i></a>
  </td>
</tr>
