
<section class="panel">
  <div class="panel-body profile-information">
    <div class="col-md-3">
      <div class="profile-pic text-center">
        <img src="{{model.logoUrl}}" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-desk">
        <h1> Account</h1>
        <span class="text-muted">{{model.name}}</span>
        <br/>
      </div>
    </div>

    <div class="col-md-3">
      <br/>
      <button class="btn btn-primary">XXXXX <i class="fa fa-plus"></i></button>
      <br/><br/>
    </div>
  </div>
</section>
