<form role="form" class="form-horizontal" id="employerInfoForm">

  <div class="form-group">
    <label class="col-lg-3 control-label">Name</label>
    <div class="col-lg-9">
      <input type="text" class="form-control col-xs-3" id="name" data-model-key="name" value="{{model.name}}" placeholder="" data-validate="required">
      <span class="error help-block hide">Please enter a template name</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Logo URL</label>
    <div class="col-lg-9">
      <input type="text" class="form-control col-xs-3" id="logoUrl" data-model-key="logoUrl" value="{{model.logoUrl}}" placeholder="" data-validate="required">
      <span class="error help-block hide">Please enter a Logo URL</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Office Phone</label>
    <div class="col-lg-9">
      <input type="text" class="form-control col-xs-3" id="phoneOffice" data-model-key="phoneOffice" value="{{model.phoneOffice}}" placeholder="" data-validate="required">
      <span class="error help-block hide">Please enter a Office Phone</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-8 col-lg-12">
      <button class="btn btn-icon btn-default glyphicons circle_ok saveButton">Save Changes</button>
      <button class="btn btn-icon btn-default glyphicons circle_ok cancelButton">Cancel</button>
    </div>
  </div>

</form>
