<tr>
  <td>{{model.username}}</td>
  <td>{{model.email}}</td>
  <td>
    <a href="#accounts/{{model.id}}" height="60px" class="btn btn-success editButton">View <i class="fa fa-eye"></i></a>
  </td>
</tr>
