
  <div class="row">
    <div class="col-sm-12">
      <h3>Cheeses for this Account</h3>

      <section class="panel">
        <div class="panel-body">
          <div class="adv-table">
            <button class="btn btn-success addNewCheeseButton"><i class="fa fa-plus"></i> New Cheese</button>
            <button class="btn btn-success findCheeseButton"><i class="fa fa-eye"></i> Find and Link Cheese</button>
            <br>
            <br>

            <table class="display table table-bordered table-striped dataTable">
              <thead>
                <th width="55%">Name</th>
                <th width="25%">Type</th>
                <th width="20%">Options</th>
              </thead>

              <tbody id="tbody"></tbody>
            </table>

          </div>
        </section>
      </div>
  </div>
