<div class="modal hide fade" id="LoginModalDialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-body padded">
        <form class="form-horizontal" id="modalForm">

             <div class="form-group">
                 <div class="col-md-12">

                  <div class="alert alert-success" role="alert">
                    <strong>Oops!</strong> you are accessing a feature that requires you to
                    have an account. Please login...
                  </div>

                 </div>
              </div>

              <div class="form-group">
                 <label class="col-md-3 control-label">Username</label>
                 <div class="col-md-7">
                   <input type="text" class="form-control col-xs-3" placeholder="Enter your username" value="" name="username">
                 </div>
              </div>

              <div class="form-group">
                 <label class="col-md-3 control-label">Password</label>
                 <div class="col-md-7">
                   <input type="password" class="form-control col-xs-3" placeholder="Enter your password" value="" name="password">
                 </div>
              </div>

              <p class="text-danger" id="ModalErrorMessages"></p>

        </form>

        <button type="submit" class="col-md-offset- btn btn-success btn-default actionButton" data-state="open">Continue >></button>
      </div>

    </div>
  </div>
</div>
