<div class="modal hide fade" data-backdrop="static">
  <div class="modal-dialog" style="width: 450px !important;">
    <div class="modal-content">
      <div class="modal-body">
        <input type="text" id="SearchTerm" autocomplete="off" class="form-control input-lg" name="name" placeholder="Search..." >
        <div class="list-group" style="margin-top: 5px;" id="results">
          <!--- Results --->
        </div>
      </div>
    </div>
  </div>
</div>
