<section class="wrapper">

<div class="row">

  <div class="col-md-3">
    <div class="mini-stat clearfix">
      <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
      <div class="mini-stat-info">
        <span>3600</span>
        Cheeses
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mini-stat clearfix">
      <span class="mini-stat-icon tar"><i class="fa fa-flag"></i></span>
      <div class="mini-stat-info">
        <span>245</span>
        Markers
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mini-stat clearfix">
      <span class="mini-stat-icon pink"><i class="fa fa-exclamation-circle"></i></span>
      <div class="mini-stat-info">
        <span>222</span>
        Users
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mini-stat clearfix">
      <span class="mini-stat-icon green"><i class="fa fa-inbox"></i></span>
      <div class="mini-stat-info">
        <span>2</span>
        Pending Changes
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <!--notification start-->
    <section class="panel">
      <header class="panel-heading">
        Notification <span class="tools pull-right">
        <a href="javascript:;" class="fa fa-chevron-down"></a>
        <a href="javascript:;" class="fa fa-cog"></a>
        <a href="javascript:;" class="fa fa-times"></a>
      </span>
    </header>
    <div class="panel-body">
      <div class="alert alert-info clearfix">
        <span class="alert-icon"><i class="fa fa-question"></i></span>
        <div class="notification-info">
          <ul class="clearfix notification-meta">
            <li class="pull-left notification-sender"><span><a href="#">Bart Simpson</a></span> added a new cheese for Stilton Cheese Makers </li>
            <li class="pull-right notification-time">32 min ago</li>
          </ul>
          <p>
            New Cheese Notice
          </p>
        </div>
      </div>
      <div class="alert alert-danger">
        <span class="alert-icon"><i class="fa fa-plus-square"></i></span>
        <div class="notification-info">
          <ul class="clearfix notification-meta">
            <li class="pull-left notification-sender"><span><a href="#">Larry King</a></span> noted a duplicate cheese </li>
            <li class="pull-right notification-time">7 Hours Ago</li>
          </ul>
          <p>
            Duplicate Cheese Update
          </p>
        </div>
      </div>
      <div class="alert alert-success ">
        <span class="alert-icon"><i class="fa fa-comments-o"></i></span>
        <div class="notification-info">
          <ul class="clearfix notification-meta">
            <li class="pull-left notification-sender">You sent 5 message that were read</li>
            <li class="pull-right notification-time">1 day ago</li>
          </ul>
          <p>
            <a href="#">Vermont Creamery</a> and <a href="#">3 others</a>
          </p>
        </div>
      </div>
      <div class="alert alert-warning ">
        <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
        <div class="notification-info">
          <ul class="clearfix notification-meta">
            <li class="pull-left notification-sender">Update from Formagg.io</li>
            <li class="pull-right notification-time">5 Days Ago</li>
          </ul>
          <p>
            New features added! Read more.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--notification end-->
</div>

<div class="col-md-3">
  <section class="panel">
    <div class="panel-body">
      <div class="top-stats-panel">
        <div class="gauge-canvas">
          <h4 class="widget-h">Top Cheese Makers</h4>
          <canvas width=160 height=100 id="gauge"></canvas>
        </div>
        <ul class="gauge-meta clearfix">
          <li id="gauge-textfield" class="pull-left gauge-value"></li>
          <li class="pull-right gauge-title">$100,000</li>
        </ul>
      </div>
    </div>
  </section>
</div>

<div class="col-md-3">
  <section class="panel">
    <div class="panel-body">
      <div class="top-stats-panel">
        <div class="daily-visit">
          <h4 class="widget-h">Monthly Visitors</h4>
          <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

          </div>
          <ul class="chart-meta clearfix">
            <li class="pull-left visit-chart-value">104</li>
            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="col-md-3">
  <section class="panel">
    <div class="panel-body">
      <div class="top-stats-panel">
        <h4 class="widget-h">Top Cheeses</h4>
        <div class="sm-pie">
        </div>
      </div>
    </div>
  </section>
</div>

<div class="col-md-3">
  <section class="panel">
    <div class="panel-body">
      <div class="top-stats-panel">
        <h4 class="widget-h">Advocate Requests</h4>
        <div class="bar-stats">
          <ul class="progress-stat-bar clearfix">
            <li data-percent="50%"><span class="progress-stat-percent pink" style="height: 50%"></span></li>
            <li data-percent="90%"><span class="progress-stat-percent" style="height: 30%"></span></li>
            <li data-percent="70%"><span class="progress-stat-percent yellow-b" style="height: 20%"></span></li>
          </ul>
          <ul class="bar-legend">
            <li><span class="bar-legend-pointer pink"></span> Cow</li>
            <li><span class="bar-legend-pointer green"></span> Goat</li>
            <li><span class="bar-legend-pointer yellow-b"></span> Sheep</li>
          </ul>
          <div class="daily-sales-info">
            <span class="sales-count">242 </span> <span class="sales-label">Total Cheeses</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</section>
