<!-- sidebar menu start-->
<div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="#dashboard">
                <i class="fa fa-dashboard"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="active" href="#">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="#cheeses">
                <i class="fa fa-book"></i>
                <span>Cheeses</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="#makers">
                <i class="fa fa-group"></i>
                <span>Makers</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="#accounts">
                <i class="fa fa-th"></i>
                <span>Accounts</span>
            </a>
        </li>
    </ul>
  </div>
<!-- sidebar menu end-->
