<div class="modal hide fade" id="WelcomeMessage" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body padded">

	    <div class="jumbotron">
	      <h1 style="color: #000;">Cheese Manager</h1>
	      <p style="color: #000 !important;">
	      Backbone.js, Browserify + Gulp UI + Travis-CI for Formagg.io API. This project
	      is a working testbed for different patterns for hosting a `push state` enabled 
	      backbone app on github. 
	      </p>

	      <iframe src="https://ghbtns.com/github-btn.html?user=d1b1&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>

	    </div>

		<div class="row">

		  <div class="col-md-4">
		    <div class="mini-stat pull-centee clearfix">
		      <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
		      <div class="mini-stat-info">
		        <span>3701</span>
		        Artisan Cheeses
		      </div>
		    </div>
		  </div>

		  <div class="col-md-4">
		    <div class="mini-stat pull-center clearfix">
		      <span class="mini-stat-icon tar"><i class="fa fa-user"></i></span>
		      <div class="mini-stat-info">
		        <span>350</span>
		        Cheese Markers
		      </div>
		    </div>
		  </div>

		  <div class="col-md-4">
		    <div class="mini-stat pull-center clearfix">
		      <span class="mini-stat-icon pink"><i class="fa fa-exclamation-circle"></i></span>
		      <div class="mini-stat-info">
		        <span>23</span>
		        Eaters
		      </div>
		    </div>
		  </div>

		</div>

		<button href="javascript:void(0)" class="btn btn-block loginButton btn-lg btn-warning">Sign-in >></button>

      </div>
    </div>
  </div>
</div>
