.wysihtml5-toolbar li {
	display: inline-block;
}

.select2-container {
	border: none;
	margin-bottom: 10px;
}

.wysihtml5-toolbar li {
	margin: 5px;
}

.table-inbox-wrap {
	margin-left: 5px;
  margin-right: 5px;
}

.discard-btn {
  float: right;
}

.table-inbox-wrap {
  margin: 0;
}

.file-attached {
  margin: 5px 0;
}

.file-attached:first-child {
  margin-top: -10px;
}

.btn .fa {
  margin: 3px;
}

#attachments {
	padding-top: 2px;
}
