
/* products views */
.timelineFilter {
  // border-bottom: 2px solid gray;
}

.allProductsDropdown {
  margin-top: 30px;
}

.employerProductImg {
  width: 200px;
  height: 57px;
  margin-top: 4px;
  margin-left: -10px !important;
  margin-right: 12px !important;
  margin-bottom: 5px !important;
  border-radius: 0px !important;
  // .a & {
  //   margin-top: -12px;
  // }
}

.price {
  margin-top: 40px;
}

// panel for graphs
.productsHeader .panel {
 height: 160px !important;
}

#pie-donutContainer {
  margin-top: -6px !important;
}

.productHeader {
  min-height: 90px;
  padding-top: 6px;
}

.productPanel {
  height: 620px;
  border: 1px solid #C2C2C2;
}

.productRowPrice {
  margin-top: 10;
}

.coverageLevelNotice {
}
