
<form role="form" class="form-horizontal">

  <div class="form-group">
    <label class="col-lg-2 control-label">json</label>
    Google Maps
  </div>

  <div class="form-group">
    <div class="col-lg-offset-8 col-lg-12">
      <button class="btn btn-icon btn-default glyphicons circle_ok saveButton">Save Changes</button>
      <button class="btn btn-icon btn-default glyphicons circle_ok cancelButton">Cancel</button>
    </div>
  </div>

</form>
