
  <div class="data-table-header">
    <div class="col-md-4">
      <select name="adjustPerPage" class="adjustPerPage">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
      <label for="adjustPerPage">Records Per Page</label>
    </div>
  </div>
  <table class="display table table-bordered table-striped dataTable">
    <thead>
      <th width="55%">Name</th>
      <th width="25%">Location</th>
      <th width="20%">Options</th>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
