
  <table class="display table table-bordered table-striped dataTable">
    <thead>
      <th width="10%">&nbsp;</th>
      <th width="45%">Name</th>
      <th width="25%">Location</th>
      <th width="20%">Options</th>
    </thead>
    <tbody id="tbody">
      <tr>
        <td>
          <td colspan="3" align="center">
            <br><br>
            No Makers found...
          </td>
        <td>
      </tr>
    </tbody>
  </table>
