
  <div class="row">
    <div class="col-sm-12">
      <h3>Accounts for this Cheese</h3>

      <section class="panel">
        <div class="panel-body">
          <div class="adv-table">
            <button class="btn btn-success addAccountBtn"><i class="fa fa-plus"></i> New Account</button>
            <button class="btn btn-success findAccountBtn"><i class="fa fa-eye"></i> Find and Link Account</button>
            <br>
            <br>

            <table class="display table table-bordered table-striped dataTable">
              <thead>
                <th width="40%">Name</th>
                <th width="25%">Email</th>
                <th width="15%">Type</th>
                <th width="20%">Options</th>
              </thead>
              <tbody id="tbody"></tbody>
            </table>

          </div>
        </section>
      </div>
  </div>
