<tr>
  <td>{{model.user.username}}</td>
  <td>{{model.user.email}}</td>
  <td>{{model.relationship}}</td>
  <td>
    <a href="#accounts/{{model.user._id}}" height="60px" class="btn btn-success editButton">View <i class="fa fa-eye"></i></a>
  </td>
</tr>
