<section class="wrapper">

  <div class="row">
    <div class="col-md-12">
      <!--breadcrumbs start -->
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#cheeses"><i class="fa fa-group"></i> Cheeses</a></li>
        <li class="active">Cheese</li>
      </ul>
      <!--breadcrumbs end -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="formHeader">
        <!-- Form Header -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs nav-justified">
            <li  class="active">
              <a data-toggle="tab" class="cheeseTab" href="#formTabContainer">
                Details
              </a>
            </li>
            <li>
              <a data-toggle="tab" class="cheeseTab" href="#ImagesTabContainer">
                Images
              </a>
            </li>
            <li>
              <a data-toggle="tab" class="cheeseTab" href="#MakersTabContainer">
                Makers
              </a>
            </li>
            <li>
              <a data-toggle="tab" class="cheeseTab" href="#MapTabContainer">
                Map
              </a>
            </li>
            <li>
              <a data-toggle="tab" class="cheeseTab" href="#AccountsTabContainer">
                Accounts
              </a>
            </li>
            <li>
              <a data-toggle="tab" class="cheeseTab" href="#JSONTabContainer">
                Advanced
              </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content tasi-tab">
            <div id="formTabContainer" class="tab-pane active">
              <div class="position-center" id="newProfileContainer">
              </div>
            </div>
            <div id="JSONTabContainer" class="tab-pane"></div>
            <div id="ImagesTabContainer" class="tab-pane"></div>
            <div id="MakersTabContainer" class="tab-pane"></div>
            <div id="AccountsTabContainer" class="tab-pane"></div>
            <div id="MapTabContainer" class="tab-pane"></div>
            <div id="JSONTabContainer" class="tab-pane"></div>
          </div>
        </div>
      </section>
    </div>
  </div>

</section>
