
<div class="row">
  <div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#cheese"><i class="fa fa-group"></i> Cheeses</a></li>
      <li class="active">Cheese</li>
    </ul>
    <!--breadcrumbs end -->
  </div>
</div>

<div class="col-md-12">
  <section class="panel">
    <div class="panel-body profile-information">
      <div class="col-md-3">
        <div class="profile-pic text-center">
          <img src="{{model.images.large}}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-desk">
          <h1>Cheese</h1>
          <span class="text-muted">{{model.name}}</span>
          <br/>
        </div>
      </div>
      <div class="col-md-3">
        <br/>
        <a class="btn btn-primary" href="#maker/{{model.maker.id}}">{{model.maker.name}} <i class="fa fa-plus"></i></a>
      </div>
    </div>
  </section>
</div>

<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading tab-bg-dark-navy-blue">
      <ul class="nav nav-tabs nav-justified">
        <li  class="active">
          <a data-toggle="tab" class="tab" href="#formTabContainer">
            Details
          </a>
        </li>
        <li>
          <a data-toggle="tab" class="tab" href="#JSONTabContainer">
            Advanced
          </a>
        </li>
      </ul>
    </header>
    <div class="panel-body">
      <div class="tab-content tasi-tab">
        <div id="formTabContainer" class="tab-pane active">
          <div class="position-center" id="newProfileContainer">
          </div>
        </div>
        <div id="JSONTabContainer" class="tab-pane"></div>
      </div>
    </div>
  </section>
</div>
</div>
