<section class="panel">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Template</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>
